.wrap ul {
    list-style: none;
}

.wrap li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.opportunities {
    margin-top: 10px;
}

.opportunities li {
    border: none;
    padding: 5px;
}
